<!-- header logo -->
<div class="logo">
    <a href="#!/">西雅科技</a>
</div>
<!-- small device toggle button -->
<div class="visible-xs-block menu-button" ng-click="toggleCanvas()">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</div>
<!-- header main navigation -->
<div class="top-nav">
    <!-- left navigation -->
    <ul class="nav-left list-unstyled">
        <li class="hidden-xs" ng-click="toggleCollapsedMin()">
            <i class="fa fa-bars"></i>
        </li>
        <li class="hidden-xs">
            <i class="fa fa-cogs"></i>
        </li>
        <li class="search-box visible-md visible-lg">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-search text-muted"></i>
                </span>
                <input type="text" class="form-control" placeholder="关键字查找...">
            </div>
        </li>
        <li>
            <i class="fa fa-envelope-o"></i>
            <span class="badge badge-danger">3</span>
        </li>
        <li>
            <i class="fa fa-bell-o"></i>
            <span class="badge badge-info">3</span>
        </li>
    </ul>
    <!-- right navigation -->
    <ul class="nav-right list-unstyled">
        <li class="text-normal nav-profile">
            <img src="http://img1.touxiang.cn/uploads/20121106/06-023350_109.jpg" alt="Jeremy Gilbert" class="img-circle" >
            <span>Jeremy Gilbert</span>
        </li>
    </ul>
</div>