<div class="nav-wrapper">
    <ul>
        <li class="active">
            <a href="#!/dashboard">
                <i class="fa fa-dashboard"></i>
                <span>运行状态</span>
            </a>
        </li>
        <li>
            <a href="#!/tasks">
                <i class="fa fa-tasks"></i>
                <span data-i18n="Tasks">任务</span>
                <span class="badge badge-danger main-badge">5</span>
            </a>
        </li>
        <li>
            <a href="#!/pages">
                <i class="fa fa-file-text-o"></i>
                <span>内容管理</span>
            </a>
        </li>
    </ul>
</div>